<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="my.app"
         name="MyTestApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="my.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="my.MyPerspective"
            id="my.perspective"
            name="MyPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="my.MyView1"
            id="my.views.view1"
            name="MyView 1"
            restorable="true">
      </view>
   </extension>

</plugin>
